<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mary Profile </title>
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <head>
        <nav>
              <h1 class="nav-title dark-01">Ma<span style="color:#FD6E0A">r</span>y</h1>
             <ul>
                <li><a href="https://github.com/sam-in07" target="_blank">Portfolio</a></li>
                <li><a href="#">Blog</a></li>
                <button class="btn-primary">Hire Me</button>
             </ul>
  
             <!-- 
             ul>li*2>a^btn
             <ul>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <button></button>
             </ul> -->
        </nav>
        <section>
            <h2 class="banner-grettings">Hi, I  am</h2>

            <h1 class="banner-title">Mary Hardy</h1>
            <p class="banner-desc">Shot what able cold new see hold.Friendly as an 
                  betrayed formerly he. Morning because as to society behaved moments.</p>
            <button class="btn-primary">Download CV</button>
            <button class="btn-secondary">Contact</button>
        </section>
    </head>





</body>
</html>